<launch>
	<node pkg="current_state_publisher" name="current_state_publisher" type="current_state_publisher" output="screen"/>

	<node pkg="lidar_alarm" name="lidar_alarm" type="lidar_alarm" output="screen"/>

	<node pkg="modal_trajectory_controller" name="modal_trajectory_controller" type="open_loop_controller" output="screen"/>
	
	<node pkg="des_state_publisher_service" name="des_state_publisher_service" type="des_state_publisher_service" output="screen"/>

	<node pkg="navigation_coordinator" name="navigation_coordinator" type="navigation_coordinator" output="screen"/>
</launch>
